@font-face {
    font-family: dakotaHand;
    src: url(handwriting-dakota.ttf);
}

.postit {
	font-family : dakotaHand;
	border-radius: 0 0 0 0;
	position:absolute;
	padding:3px;
	transform: rotate(-3deg);
	
	box-shadow: 5px 5px 5px 0px #666;
}
.postit:hover {
	transform: none;
}
.postit div[rel=content] {
	position:relative;
	height:100%;
}

.postit div[rel=delete] {
	position: absolute;
	bottom:0;
	left:0;
	display:none;	
	
}
.postit:hover div[rel=delete] {
	display:block;
	cursor: pointer;
}
.postit [rel=postit-title] {
	font-weight:bold;
	
}
.postit div[rel=content] div[rel=postit-title],.postit div[rel=content] div[rel=postit-comment] {
	position:relative;
	margin-bottom:2px;
}
.postit div[rel=content] div[rel=postit-title]:empty,.postit div[rel=content] div[rel=postit-comment]:empty {
	min-height: 20px;
	border:1px dashed #eee;
	
}
/*
.postit input, .postit textarea {
	background: none;
	border:0 none;
	box-shadow: none;
}
*/
.yellowPaper {
	border:1px solid #D2D246;

	background: #FEFE01 none repeat scroll 0 0;
}

.yellowPaperTemporary {
	border:1px solid #D2D246;
	
	background:#FDFDE5 none repeat scroll 0 0;
}

.bluePaper {
	border:1px solid #4BB5C1;

	background:#7FC6BC none repeat scroll 0 0;
}

.greenPaper {
	border:1px solid #96CA2D;
	background:#B5E655 none repeat scroll 0 0;
}


