@font-face {
    font-family: "dakotaHand";
    src: url("handwriting-dakota.ttf")  format('truetype');
}

.postit {
	font-family:   'chilanka', 'dakotaHand', cursive;

	position:absolute;
	padding:3px;
	transform: rotate(-2deg);
	overflow:hidden;
	

	text-decoration:none;
	color:#000;
	background:#ffc;
	display:block;
	height:10em;
	width:10em;
	padding:1em;

	-moz-box-shadow:2px 2px 7px rgba(0,0,0,.5);
	-webkit-box-shadow: 2px 2px 7px rgba(0,0,0,.5);
	box-shadow: 2px 2px 7px rgba(0,0,0,.5);

	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;

}
.postit:hover {
	transform: rotate(0)  scale(1.1);
}
.postit div[rel=content] {
	position:relative;
	height:100%;
	
}


.postit div[rel=actions] {
	position: absolute;
	bottom:0;
	left:0;
	display:none;	
	
}
.postit:hover div[rel=actions] {
	display:block;
}
.postit div[rel=actions] span {
	cursor: pointer;
	margin-right:10px;
}
.postit div[rel=actions] span img { 
	width:18px;
	height:18px;	
}
.postit [rel=postit-title] {
	font-weight:bold;
	
}
.postit div[rel=content] div[rel=postit-author] {
	text-align: right;
	font-size: 9px;
	color:#333;
}
.postit div[rel=content] div[rel=postit-title],.postit div[rel=content] div[rel=postit-comment] {
	position:relative;
	margin-bottom:2px;
}
.postit div[rel=content] div.ifempty:empty {
	min-height: 20px;
	border:1px dashed #eee;
	
}
.postit[rel=status]{
	margin-left: 10px;
}

/*
.postit input, .postit textarea {
	background: none;
	border:0 none;
	box-shadow: none;
}
*/
.yellowPaper {
	background: #FEFE01 none repeat scroll 0 0;
}

.yellowPaperTemporary {
	background: #ffff88; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bluePaper {
	background:#7FC6BC none repeat scroll 0 0;
}

.greenPaper {
	background:#B5E655 none repeat scroll 0 0;
}


